@{
    ViewBag.Title = "サポート";
}

<br />

<h3>@ViewBag.Message</h3>

<hr />

<p>
    ご不明な点や問題がありましたらお問い合わせは下記のメールアドレスまで
    お願いします。<br>
    また、お問い合わせの際にはなるべく具体的な情報を記述していただけるとこちらも助かります。
</p>

<p class="badge badge-info">参考例</p>
<div class="alert-info" role="alert">
    <ul>
        <li>ログインの仕方がわからない。</li>
        <li>パスワードまたはIDを忘れた。</li>
        <li>メールが来ない。</li>
        <li>選択できる講義を増やしてほしい。</li>
        <li>デザインをわかりやすくしてほしい。</li>
        <li>誤字脱字がある。</li>
        <li>自動通知以外の新しい機能を増やしてほしい。</li>
    </ul>
</div>

<br>

<address>
    <strong>お問い合わせ先メールアドレス:</strong>   <a href="mailto:bbschecker@gmail.com">bbschecker@gmail.com</a>
</address>

<p><a class="btn btn-outline-info" href="Index">ホームに戻る</a></p>